<div class="container">
  <div class="row" hidden="true" id="question">
    <div class="col-12">
      <audio id="audio">
          <source src="<%= @sound %>" type="audio/wav">
      </audio>
    </div>
    <%= form_with url: '/answers/new' do %>
      <input type="hidden" name="sound" value="<%= @sound %>"/>
      <div class="col-12">
        <h1>À quel point ce son est-il désagréable pour vous ?</h1>
      </div>
      <%= render "snippets/aversif" %>
      <div class="col-12">
        <h1>Quelle valence attribuez-vous à ce son ?</h1>
      </div>
      <%= render "snippets/valence" %>
      <div class="col-12">
        <h1>À quel point ce son vous impacte-t-il émotionnellement ?</h1>
      </div>
      <%= render "snippets/arousal" %>
      <div class="col-12">
        <h1>Est-ce que ce son vous évoque une douleur physique ?</h1>
      </div>
      <%= render "snippets/douleur" %>
      <div class="col-12 d-flex justify-content-end">
        <input class="btn btn-primary btn-lg" name="commit" type="submit" value="Suivant" data-disable-with="Suivant"/>
      </div>
    <% end %>
  <div>
<div>
