<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="col-2">
          <a class="navbar-brand" href="/">Protocole évaluation de sons</a>
        </div>
        <div class="progress col-6">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @progress %>%"></div>
        </div>
        <div class="col-2">
          <% if session[:user_id] %>
            <a href="/site/logout">Recommencer</a>
          <% end %>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer class="text-muted">
    </footer>

  </body>
</html>
